<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/skeleton.css" />
    <link rel="stylesheet" href="/css/style.css " />
    <title>Document</title>
  </head>
  <body>
    {% if money >= 1000 %}
    <div class="green-container container">
      <h1>Budgtr ALL</h1>
      <h3>Bank Account: {{ money }}</h3>
      <table>
        {% for item in allbudget %}
        <tr>
          <td>
            <a href="/budgets/{{ forloop.index0 }}">{{ item.name }}</a>
          </td>

          <td>{{ item.date }}</td>
          <td>{{ item.from }}</td>
          <td>{{ item.amount }}</td>
          <td>{{ item.tags }}</td>
        </tr>
        {%endfor%}
      </table>
      <button onclick="location.href='/budgets/new'">
        Create a New Budget
      </button>
    </div>
    {%else%}
    <div class="red-container container">
    <h1>Budgtr ALL</h1>
    <h3>Bank Account: {{ money }}</h3>
    <table>
      {% for item in allbudget %}
      <tr>
        <td>
          <a href="/budgets/{{ forloop.index0 }}">{{ item.name }}</a>
        </td>

        <td>{{ item.date }}</td>
        <td>{{ item.from }}</td>
        <td>{{ item.amount }}</td>
        <td>{{ item.tags }}</td>
      </tr>
      {%endfor%}
    </table>
    <button onclick="location.href='/budgets/new'">Create a New Budget</button>
</div>
    {%endif%}
  </body>
</html>
