<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" type="text/css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css" type="text/css" rel="stylesheet">
</head>
<body>
  <div class="container">
      <h1>Budgtr ALL</h1>
      <h4
        {%if bankAccount >= 1000 %}
    style="background-color: green;"
    {% elsif bankAccount <= 0 %}
    style="background-color: red;"
    {% else %}
    {%endif%} >
        Bank Account: {{ bankAccount }} </h4>

      <table>
       
          {% for all in budget %}
         
          <tr>
           
            <td>{{ all.date }}</td>
              <td><a href="/budget/{{forloop.index0}}">{{ all.name }}</a></td>
              
              <td>{{ all.amount }}</td>
              
          </tr>
          {% endfor %}
      </table>
      <button><a href="/budgets/new">New</a></button>
  </div>
</body>
</html>