<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        
    
    <h1>Budgtr ALL</h1>
    {% assign bankAccount = 0 %}
        {% for budgetItem in allItems %}
          {% assign bankAccount = bankAccount | plus: budgetItem.amount %}
        {% endfor %}

    {%if bankAccount < 0 %} {% assign color = "red" %}
        {% else %} {% assign color = "blue" %}
    {% endif %}
    <h3 style="background-color: {{color}}">BankAccount: {{bankAccount}}</h3>


    <table>
        {% for budgetItem in allItems %}
      <tr>
        <td>
          {{ budgetItem.date }}
        </td>
        <td>
            <a href="/{{forloop.index0}}">{{ budgetItem.name }}</a>
        </td>
        <td>
          {{ budgetItem.amount }}
        </td>
      </tr>
      {% endfor %}
    </table>

    <form action="/new">
        <input type="submit" value="New" />
      </form>

    </div>
</body>
</html>




