<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Budget Items</h1>
        <table>
            {%for item in allBudgetItems%}
            <tr>
                <td>{{item.date}}</td>
                <td><a href="/{{forloop.index0}}">{{item.name}}</a></td>
                <td>{{item.from}}</td>
                <td>{{item.amount}}</td>
                <td>{{item.tags}}</td>
            </tr>
            {%endfor%}
        </table>
        <button onclick="location.href = '/new'" >Create New Item</button>
    </div>
</body>
</html>