<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
</head>

<body>
    <div class="container">
        <h1>Budgtr All</h1>
    </div>
    <table>
        {% for budget in budgets%}
        <tr>
            <td>{{budget.date}}</td>
            <td><a href="">{{budget.name}}</a></td>
            <td>{{budget.from}}</td>
            <td>{{budget.amount}}</td>
            <td>{{budget.tags}}</td>
            </tr>

        {% endfor %}
    </table>
</body>
</html>