<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    
    <div class="container"  id= 
    {% if bankAccount < 0 %} "red-background" 
    {% elsif bankAccount > 1000 %} 'green-background' 
    {% else %} null 
    {% endif %} %}>
        
        <h1>HELLO adult WORLD</h1>
        <h3>Current Balance: {{bankAccount}}</h3>
        <table>
            <tr>
                <th>Date</th>
                <th>Name</th>
                <th>Amount</th>
            </tr>
            {% for expense in budget %}
            <tr>
                <td>{{expense.date}}</td>
                <td>
                    <a href="budgets/{{ forloop.index0 }}">{{expense.name}}</a>
                </td>
                <td>{{expense.amount}}</td>
            </tr>
            {% endfor %}
        </table>
        <button><a href="budgets/new">Add New Expense</a></button>
    </div>
</body>

</html>