<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
    />
    <link rel="stylesheet" href="/css/app.css" />
    <title>Index</title>
  </head>
  <body id={% if bankAccount < 0 %} "red" {% elsif bankAccount > 1000 %} "green" {% else %} "" {% endif %}>
    <div class="container">
      <hr />
      <h1>Bank Account Balance: {{ bankAccount }}</h1>
      <hr />
      <h2>Budgtr ALL</h2>
      <table class="u-full-width">
        <tbody>
          {% for item in Budget %}
          <tr>
            <td>{{ item.date }}</td>
            <td>
              <a href="/budgets/{{ forloop.index0 }}">{{ item.name }}</a>
            </td>
            <td>{{ item.amount }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <br />
      <a href="/budgets/new"><button class="button-primary">Create</button></a>
    </div>
  </body>
</html>
