<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <style>
        #blue{
            background-color: blue;
        }
        #red{
            background-color: red;
        }
    </style>
</head>
<body>
    
    <!-- {%assign Rsign = "Bank Account" %}
    {%assign Bsign = "Bank Account" %} -->

    {%assign a = 0%}
    {%for record in allRecords%}
    {% assign a = a | plus:record.amount %}
   
    {% endfor %}

    {%if a > 1000%}
    <h1 id = 'blue'>{{a}}</h1>
    {%elsif a <= 0%}
    <h1 id = 'red'>{{a}}</h1>
    {%else%}
    {{a}}
    {%endif%}


    
<h1>Budgtr ALL</h1>
<div class = 'container'> 

<table>
    
<tr>
    <th>Date</th>
    <th>Name</th>
    <th>Amount</th>
</tr>
{%for record in allRecords%}
<tr>
    <td> {{record.date}}</td>
    
    <td> <a href="/show/{{ forloop.index0 }}">{{record.name}}</a></td>

    <td> {{record.amount}}</td>
    
</tr>
{% endfor %}
</table>
<a href="/new">Add new record</a>
</div>
</body>
</html>