<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <title>Document</title>
</head>
<body>


{% comment %} //green - foorloop if/else / could link to css file  {% endcomment %}



{% comment %} //red {% endcomment %}



    <div class="container">
        <h1>Budget All</h1>
        <h2>Bank Account : $ {{bankAccount}}</h2>
        <table>
            {%for budget in allBudgetItems %}
                {% comment %} //row {% endcomment %}
                <tr>
                    {% comment %} //data cell     {% endcomment %}
                    <td>
                        {{budget.date}}
                    </td>
                 
                    <td>
                        <a href="/budget/{{ forloop.index0}}">{{ budget.name }}</a> 
                    </td>
                
                    <td>
                        {{budget.amount}}
                    </td>
                </tr>
            {% endfor %}
        </table>
        <button>
            <a href="/budget/new">Create a New Budget</a>
        </button>
    </div>
</body>
</html>