<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<link
			rel="stylesheet"
            type="text/css"
			href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css"
		/>
		<link
			rel="stylesheet"
            type="text/css"
			href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
		/>
		<title>Budgtr show page</title>
	</head>
	<body>
		<div class="container">
			<h1>{{ budgets.name }}</h1>

			<input type="Submit" value="Back"><a href="/budgets"></a>
			<br />
			<br />
			<br />

			<div>
				<em><b>Date</b></em>
				<br />
				<blockquote>{{ budgets.date }}</blockquote>
			</div>

			<div>
				<em><b>name</b></em>
				<br />
				<blockquote>{{ budgets.name }}</blockquote>
			</div>

			<div>
				<em><b>from</b></em>
				<br />
				<blockquote>{{ budgets.from }}</blockquote>
			</div>

			<div>
				<em><b>amount</b></em>
				<br />
				<blockquote>{{ budgets.amount }}</blockquote>
			</div>

			<div>
				<em><b>tags</b></em>
				<br />
				<blockquote>{{ budgets.tags }}</blockquote>
			</div>
		</div>
	</body>
</html>
