<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
</head>
<body>
    <div class="container">
    <h1>{{Budget.name}}</h1>
    <a href="/budget"><button>Back to Index</button></a>
    <p><b>Date</b> {{Budget.date}} </p>
    <p><b>Name</b> {{Budget.name}} </p>
    <p><b>From</b> {{Budget.from}} </p>
    <p><b>Amount</b> {{Budget.amount}} </p>
    <p><b>Tags</b> {{Budget.tags}} </p>
    </div>
</body>
</html>