<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
    <title>Show</title>
</head>
<body>
    <div class="container">
        <h1>{{bName.name}}</h1>
        <h4>date</h4>
        <p>{{bName.date}}</p>
        <h4>from</h4>
        <p>{{bName.from}}</p>
        <h4>amount</h4>
        <p>{{bName.amount}}</p>
        <h4>tags</h4>
        
        <p>
            {% for tag in bName.tags %}
            {{tag}} 
            <br>
            {% endfor %}
        </p>
        
        <form action="/budgets">
            <button>Back</button>
        </form>
    </div>
</body>
</html>