<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
    <title>show</title>
</head>
<body>
    <div class="container">
        <h1>{{Budget[number].name}}</h1>
        <form action="/next" method="POST">
            <button type="submit">Back</button>
        </form>
        <ul>
            <li>Date: {{Budget[number].date}}</li>
            <li>From: {{Budget[number].from}}</li>
            <li>Amount: {{Budget[number].amount}}</li>
            <li>Tags: {{Budget[number].tags}}</li>
        </ul>
    </div>
        
</body>
</html>