<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" type="text/css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css" type="text/css" rel="stylesheet">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <h1> {{ budgets.name }} </h1>
    <button><a href="/budgets">Back</a></button><br>
    <h5>date</h5>
   <p> {{ budgets.date }} </p>
    <h5>name</h5>
    <p>{{ budgets.name }} </p>
    <h5>from</h5>
    <p>{{ budgets.from }} </p>
    <h5>amount</h5>
    <p>{{ budgets.amount }}</p>
    <h5>tags</h5>
    <p>{{ budgets.tags }} </p>
  
  </div>

  
  
</body>
</html>