<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>{{budgetItem.name}}</h1>
        <button>
        <a href="/budget">BACK</a>
        </button>
    <h5>
        Date
    </h5>
    <h6>
        {{budgetItem.date}}
     </h6>
     <h5>
        Name
    </h5>
    <h6>
        {{budgetItem.name}}
     </h6>
     <h5>
        from
    </h5>
    <h6>
        {{budgetItem.from}}
     </h6>
     <h5>
        amount
    </h5>
    <h6>
        {{budgetItem.amount}}
     </h6>
     <h5>
        tags
    </h5>
    <h6>
       {% comment %} {% for item in tags %} {% endcomment %}
        {{budgetItem.tags}}, 
    {% comment %} {% endfor %} {% endcomment %}
     </h6>
    </div>
</body>
</html>