<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
    />
    <title>Show</title>
  </head>
  <body>
    <div class="container">
      <a href="/budgets"><button class="button-primary">Back</button></a>
      <h1>{{ budget.name }}</h1>
      <h3>Date: {{ budget.date }}</h3>
      <h3>Name: {{ budget.name }}</h3>
      <h3>From: {{ budget.from }}</h3>
      <h3>amount: {{ budget.amount }}</h3>
      <h3>
        tags: {% for tag in budget.tags %}
        {{ tag }} {% endfor %}
      </h3>
    </div>
  </body>
</html>
