<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>

    <link rel="stylesheet" href="/normalize.css">

    <link rel="stylesheet" href="/skeleton.css">

</head>

<body>

    <div class="container">

      <h1>name: {{ budgetItem.name }}</h1>

      <h2>date: {{ budgetItem.date }}</h2>

      <h3>from: {{ budgetItem.from }}</h3>

      <h4>amount: {{ budgetItem.amount }}</h4>

      <h5>tags: {{ budgetItem.tags }}</h5>




      <a href="/budget">Back to index</a>

    </div>

</body>

</html> 