<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    </head>
    <body>
        <h1>Income/Expense Item</h1>
        <table>
            <td>{{ showBud.date }}</td>
            <td><a href="/index/{{
                forloop.index0}}">{{ showBud.name }} 
            </a></td>
            <td>{{showBud.amount}}</td>
            <td>{{showBud.from}} </td> 
            <td>{{showBud.tags}}</td>
           
        </table>
       
        <a href="/index{{
            forloop.index0}}"> Back to index
        </a>        
        
    </body>
</html> 