<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/skeleton.css" />
  </head>
  <body>
    <div class="container">
      <h1>{{ budgetName.name }}</h1>
      <button onclick="window.location.href='/budgets'">Return</button>

      <h2>Date</h2>
      <h5>{{ budgetName.date }}</h5>

      <h2>From</h2>
      <h5>{{ budgetName.from }}</h5>

      <h2>Amount</h2>
      <h5>{{ budgetName.amount }}</h5>

      <h2>Tags</h2>
      <h5>{{ budgetName.tags }}</h5>
    </div>
  </body>
</html>
