<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <div class="container">
        <h1>{{showBud.name}}</h1>
        <table>
            <td> Date: </td>
            
            <td> Name: </td>
            
            <td> From: </td>
            
            <td> Amount: </td>
            
            <td> Tags: </td>
        </table>
        <table>
            <td> {{showBud.date}} </td>
            
            <td> <a href="">{{showBud.name}}</a></td>
            
            <td>{{showBud.from}}</td>
            
            <td>{{showBud.amount}}</td>
            
            <td>{{showBud.tags}}</td>
        </table>
   </div>
    <a href="/index/"><button type="submit">Back to Main</button></a>
</body>
</html>