<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <h1>{{expense.name}}</h1>
        <h4>Date:</h4>
        <p>{{expense.date}}</p>
        <h4>Name:</h4>
        <p>{{expense.name}}</p>
        <h4>From:</h4>
        <p>{{expense.from}}</p>
        <h4>Amount:</h4>
        <p>{{expense.amount}}</p>
        <h4>Tags:</h4>
        <p>{{expense.tags}}</p>
        <button><a href="/budgets">Go Back to Budget</a></button>
    </div>

</body>

</html>