<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
</head>
<body>
<div class="container">

    <h1>{{budgets.name}}</h1>
    <button><a href="/budgets">Back</a></button>
    <h3>Date:</h3> {{budgets.date}}<br/>
    <h3>Name:</h3> {{budgets.name}} <br/>
    <h3>From:</h3> {{budgets.from}} <br/>
    <h3>Amount:</h3>  ${{budgets.amount}}.00<br/>
    <h3>Tags:</h3>  {{budgets.tags | join: ', '}} <br/>
</div>
    
</body>
</html>